# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.so

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Docker
data/
docker-data/
